html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #010f12;
    color: #ffffff;
}

.nav {
    background: linear-gradient(to bottom, #0a323c, #010f12, #010505);
    width: 45px; /* starting narrow width */
    height: 100vh;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in-out; /* smooth width change */
}

.nav:hover {
    width: 198px; 
}


.items {
    
    flex-direction: column;
    gap: 20px;
    width: 200px;
    height: 100%;
    display: none;
    transition: 100ms ease-in-out;
    transform: translateY(200px);
    animation: slideIn 0.3s forwards; 
    
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        transform: translateY(300px);
    }
    to {
        transform: translateX(0);
        transform: translateY(300px);
    }
}

.link {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}

.link:hover {
   width: 180px;
    border: #ffffff 1px solid;
    border-radius: 10px;
    padding: 10px;
    transition: 100ms ease-in-out;
    background-color: #0a323c;
}

.nav:hover .items {
    display: block
}

.nav:hover .link p {
    display: block;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
   
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    padding: 5px;
}

.link p{
    display: none;
    margin-left: 15px;
    margin-top: 30px;
}

.container {
    width: calc(100% - 200px);
    height: 580px;
    margin-left: 100px;
    margin-top:30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(8, 149, 140, 0.55);
    background: linear-gradient(to bottom, #051a20, #010b0d, #000c0c);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

h1 {
    background: linear-gradient(to bottom, #4FB281, #368D67, #338965, #175F48);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    font-family: 'Inter', sans-serif;
    margin: 0;
    font-size: 4rem;
    letter-spacing: 4px;
    text-shadow:
        0 0 6px rgba(87, 224, 212, 0.3),  
        0 0 12px rgba(48, 227, 189, 0.15);
}


textarea{
    width: 560px;
    height: 400px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #051a20, #010b0d, #000000);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    resize: none;
    line-height: 1.4;
    text-align: left;       /* aligns text to left */
    vertical-align: top;
    font-size: 18px;  
}

form {
    display: flex;
    align-items: center;
    gap: 20px;
}

img {
    width: 40px;
    height: 40px;
    transform: translateY(10px);
    
}

.bot {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 5px;
    gap: 10px;
    margin-top: 8px;
}

button {
    width: 100px;
    border: #216b7d 2px solid;
    border-radius: 10px;
    background:none;
    color: #216b7d;
    transition: 100ms ease-in-out;

}

button:hover {
    background: #216b7d;
    color: white;
    transition: 100ms ease-in-out;
}